/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
  ========================================
Body
  ========================================
*/

@font-face {
  font-family: "dfds";
  src: url(fonts/dfds-light.woff) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "dfds";
  src: url(fonts/dfds-bold.woff) format("woff2");
  font-weight: 500;
}

body {
  background-color: #fff;
  font-family: "dfds-light";
  overflow-x: hidden;
}

/* eef0f1 */

/*
  ========================================
Small Screen - Code deels opgezet door Rick van der Straeten
  ========================================
*/

@media (max-width: 40em) {
  nav {
    height: 4em;
    width: calc(100vw - 50px);
    padding: 0 25px;
  }
  .tablinks img {
    height: 2.2em;
  }
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav__group {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav__group img {
    height: 1.5em;
    transition-duration: 1s;
  }
  .nav__group li {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
  }
  .active__search li:nth-child(1n+2) {
    opacity: 0;
    visibility: hidden;
  }
  .nav__group a {
    position: relative;
    left: 0;
    top: 0;
  }
  .nav__group a input{
    visibility: hidden;
  }
  .active__search a {
    position: inherit;
  }
  .search input {
    position: absolute;
    left: 0;
    top: calc((4em - 1.5em) / 2);
    height: 1.5em;
    width: 0vw;
    margin: 0 0 0 25px;
    padding: 0.7em 0;
    transition-duration: 1s;
  }
  .active__search .search input{
    opacity: 1;
    position: absolute;
    visibility: visible;
    left: 0;
    top: calc((4em - 1.5em) / 2);
    height: 1.5em;
    display: block;
    width: 70vw;
    margin: 0 0 0 25px;
    padding: 0.7em 0;
    z-index: 1;
    border: 1px solid #d8d8d8;
    font-size: 1em;
    font-style: "dfds";
    font-weight: 300;
    text-align: center;
    color: #002b45;
  }
  .active__search .search img{
    z-index: 2;
    margin-left: 10em;
  }
  .closed .search input {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0s;
  }
  h1 {
    font-family: "dfds";
    color: #002b45;
    font-size: 1em;
    text-align: center;
  }
  .sort {
    height: 2.18em;
    width: calc(100vw - 50px);
    padding: 0 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: solid #c6d8e6 2px;
    border-bottom: solid #c6d8e6 2px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 2em;
  }
  .sort h2 {
    font-family: "dfds";
    font-weight: 500;
    color: #002b45;
    font-size: 1.1em;
  }
  .sort p {
    font-family: "dfds";
    font-weight: 300;
    color: #002b45;
    font-size: .9em;
  }
  a {
    font-family: "dfds";
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }
  a:first-child {
    font-family: "dfds-bold";
    color: #002b45;
    font-size: .8em;
    text-transform: uppercase;
    padding: .1em .2em;
    border: none;
    background-color: transparent;
  }
  main {
    padding-top: 2em;
    height: auto;
    width: 100vw;
    background-color: #eef0f1;
  }
  header {
    height: 18em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7em auto;
    padding-top: 1em;
    background-color: #eef0f1;
  }
  header>div {
    grid-column: 1;
    grid-row: 1;
    height: 7em;
    width: 100vw;
    background-image: url(../img/regenboognatuur.jpg);
    background-position: center;
    background-size: cover;
  }
  header>article {
    grid-column: 1;
    grid-row: 2;
    background-color: #002b45;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  header .orange__button {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
    padding: .2em .2em;
    border: none;
    background-color: #f6861f;
  }
  article:first-of-type>h3 {
    font-family: "dfds";
    font-weight: 500;
    color: #c6d8e6;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: .25em;
  }
  article .heart {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-self: flex-end;
    padding: .5em 1em .5em .5em;
    height: 1.25em;
  }
  article:first-of-type>h4 {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  main>section {
    width: calc(100% - 4em);
    padding: 0 2em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-row-gap: 2em;
  }
  .container article {
    grid-column: 1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7em auto;
    position: relative;
  }
  .container div:first-of-type {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-image: url(../img/dream.jpg);
    background-position: center;
    background-size: cover;
  }
  .container p:first-child {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    padding: .4em .4em;
    height: 1em;
    background-color: #f6861f;
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  .container p:first-child::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -32px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 32px 32px 0 0;
    border-color: #f6861f transparent transparent transparent;
  }

  .socials {
    position: absolute;
    height: 1.25em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: calc(7em - 1.25em);
    background-color: rgba(0, 45, 69, 0.5);
    color: #fff;
    font-family: "dfds";
    font-weight: 300;
  }
  .text-container {
    grid-column: 1;
    grid-row: 2;
    width: calc(80% - 2px);
    padding: 5% 10%;
    border: 1px solid #002b45;
  }
  .text-container h4 {
    font-family: "dfds";
    font-weight: 500;
    color: #002b45;
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  .text-container p {
    font-family: "dfds";
    font-weight: 300;
    color: #002b45;
    font-size: 1.1em;
    margin: .5em 0;
  }
  .text-container .orange__button {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
    padding: .1em .25em;
    border: none;
    background-color: #f6861f;
    margin: 0;
  }

}

/*
  ========================================
Medium Screen
  ========================================
*/

@media (max-width: 55em) and (min-width:40em) {
  nav {
    height: 4em;
    width: calc(100vw - 100px);
    padding: 0 50px;
  }
  .tablinks img {
    height: 2.2em;
  }
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav__group {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav__group img {
    height: 1.5em;
    transition-duration: 1s;
  }
  .nav__group li {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
  }
  .active__search li:nth-child(1n+2) {
    opacity: 0;
    visibility: hidden;
  }
  .nav__group a {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__group a input{
    visibility: visible;
    border: 1px solid #d8d8d8;
    font-size: 1em;
    font-style: "dfds";
    font-weight: 300;
    text-align: center;
    color: #002b45;
  }
  .search input {
    height: 1.5em;
    width: 40vw;
    margin: 0 0 0 25px;
    padding: 0.7em 0;
    transition-duration: 1s;
  }
  .search img {
    margin-left: 2em;
  }
  .closed .search input {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0s;
  }
  h1 {
    font-family: "dfds";
    color: #002b45;
    font-size: 1em;
    text-align: center;
  }
  .sort {
    height: 2.18em;
    width: calc(100vw - 100px);
    padding: 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: solid #c6d8e6 2px;
    border-bottom: solid #c6d8e6 2px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 2em;
  }
  .sort h2 {
    font-family: "dfds";
    font-weight: 500;
    color: #002b45;
    font-size: 1.1em;
    margin-right: 1em;
  }
  .sort p {
    font-family: "dfds";
    font-weight: 300;
    color: #002b45;
    font-size: 1em;
    margin-right: 1em;
  }
  a {
    font-family: "dfds";
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }
  a:first-child {
    font-family: "dfds-bold";
    color: #002b45;
    font-size: .8em;
    text-transform: uppercase;
    padding: .1em .2em;
    border: none;
    background-color: transparent;
  }
  main {
    padding-top: 2em;
    height: auto;
    width: 100vw;
    background-color: #eef0f1;
  }
  header {
    height: 18em;
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10em auto;
    padding: 1em 10% 0;
    background-color: #eef0f1;
  }
  header>div {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-image: url(../img/regenboognatuur.jpg);
    background-position: center;
    background-size: cover;
  }
  header>article {
    grid-column: 1;
    grid-row: 2;
    background-color: #002b45;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  header .orange__button {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
    padding: .2em .2em;
    border: none;
    background-color: #f6861f;
  }
  article:first-of-type>h3 {
    font-family: "dfds";
    font-weight: 500;
    color: #c6d8e6;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: .25em;
  }
  article .heart {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-self: flex-end;
    padding: .5em 1em .5em .5em;
    height: 1.25em;
  }
  article:first-of-type>h4 {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  main>section {
    width: 80%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-template-rows: 1fr;
    grid-row-gap: 2em;
  }
  .container article {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7em auto;
    position: relative;
  }
  .container div:first-of-type {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-image: url(../img/dream.jpg);
    background-position: center;
    background-size: cover;
  }
  .container p:first-child {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    padding: .4em .4em;
    height: 1em;
    background-color: #f6861f;
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  .container p:first-child::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -32px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 32px 32px 0 0;
    border-color: #f6861f transparent transparent transparent;
  }

  .socials {
    position: absolute;
    height: 1.25em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: calc(7em - 1.25em);
    background-color: rgba(0, 45, 69, 0.5);
    color: #fff;
    font-family: "dfds";
    font-weight: 300;
  }
  .text-container {
    grid-column: 1;
    grid-row: 2;
    width: calc(80% - 2px);
    padding: 5% 10%;
    border: 1px solid #002b45;
  }
  .text-container h4 {
    font-family: "dfds";
    font-weight: 500;
    color: #002b45;
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  .text-container p {
    font-family: "dfds";
    font-weight: 300;
    color: #002b45;
    font-size: 1.1em;
    margin: .5em 0;
  }

  .text-container .orange__button {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
    padding: .1em .25em;
    border: none;
    background-color: #f6861f;
    margin: 0;
  }
}

/*
  ========================================
Large Screen
  ========================================
*/

@media (min-width:55em) {
  nav {
    height: 4em;
    width: calc(100vw - 20%);
    padding: 0 10%;
  }
  .tablinks img {
    height: 2.2em;
  }
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav__group {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav__group img {
    height: 1.5em;
    transition-duration: 1s;
  }
  .nav__group li {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
  }
  .active__search li:nth-child(1n+2) {
    opacity: 0;
    visibility: hidden;
  }
  .nav__group a {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__group a input{
    visibility: visible;
    border: 1px solid #d8d8d8;
    font-size: 1em;
    font-style: "dfds";
    font-weight: 300;
    text-align: center;
    color: #002b45;
  }
  .search input {
    height: 1.5em;
    width: 40vw;
    margin: 0 0 0 25px;
    padding: 0.7em 0;
    transition-duration: 1s;
  }
  .search img {
    margin-left: 2em;
  }
  .closed .search input {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0s;
  }
  h1 {
    font-family: "dfds";
    color: #002b45;
    font-size: 1em;
    text-align: center;
  }
  .sort {
    height: 2.18em;
    width: calc(100vw - 100px);
    padding: 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: solid #c6d8e6 2px;
    border-bottom: solid #c6d8e6 2px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 2em;
  }
  .sort h2 {
    font-family: "dfds";
    font-weight: 500;
    color: #002b45;
    font-size: 1.1em;
    margin-right: 2em;
  }
  .sort p {
    font-family: "dfds";
    font-weight: 300;
    color: #002b45;
    font-size: 1em;
    margin-right: 2em;
  }
  a {
    font-family: "dfds";
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }
  a:first-child {
    font-family: "dfds-bold";
    color: #002b45;
    font-size: .8em;
    text-transform: uppercase;
    padding: .1em .2em;
    border: none;
    background-color: transparent;
  }
  main {
    padding-top: 2em;
    height: auto;
    width: 100vw;
    background-color: #eef0f1;
  }
  header {
    height: 25em;
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15em auto;
    padding: 1em 10% 0;
    background-color: #eef0f1;
  }
  header>div {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-image: url(../img/regenboognatuur.jpg);
    background-position: center;
    background-size: cover;
  }
  header>article {
    grid-column: 1;
    grid-row: 2;
    background-color: #002b45;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  header .orange__button {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
    padding: .2em .2em;
    border: none;
    background-color: #f6861f;
  }
  article:first-of-type>h3 {
    font-family: "dfds";
    font-weight: 500;
    color: #c6d8e6;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: .25em;
  }
  article .heart {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-self: flex-end;
    padding: .5em 1em .5em .5em;
    height: 1.25em;
  }
  article:first-of-type>h4 {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  main>section {
    width: 80%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-template-rows: 1fr;
    grid-row-gap: 2em;
  }
  .container article {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7em auto;
    position: relative;
  }
  .container div:first-of-type {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-image: url(../img/dream.jpg);
    background-position: center;
    background-size: cover;
  }
  .container p:first-child {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    padding: .4em .4em;
    height: 1em;
    background-color: #f6861f;
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  .container p:first-child::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -32px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 32px 32px 0 0;
    border-color: #f6861f transparent transparent transparent;
  }

  .socials {
    position: absolute;
    height: 1.25em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: calc(7em - 1.25em);
    background-color: rgba(0, 45, 69, 0.5);
    color: #fff;
    font-family: "dfds";
    font-weight: 300;
  }
  .text-container {
    grid-column: 1;
    grid-row: 2;
    width: calc(80% - 2px);
    padding: 5% 10%;
    border: 1px solid #002b45;
  }
  .text-container h4 {
    font-family: "dfds";
    font-weight: 500;
    color: #002b45;
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  .text-container p {
    font-family: "dfds";
    font-weight: 300;
    color: #002b45;
    font-size: 1.1em;
    margin: .5em 0;
  }

  .text-container .orange__button {
    font-family: "dfds";
    font-weight: 500;
    color: #fff;
    font-size: 1.25em;
    padding: .1em .25em;
    border: none;
    background-color: #f6861f;
    margin: 0;
  }
}

/*
  ========================================
Form
  ========================================
*/

form {
  display: flex;
}

fieldset {
  font-family: "dfds-light";
  color: #6d6f71;
  padding: 2em 2em;
  background: white;
  margin: 0 auto;
}

legend {
  text-transform: uppercase;
  color: #6d6f71;
  font-family: "dfds-bold";
}

label {
  display: block;
  margin: 0.5em;
  text-align: left;
}

input:focus {
  border: solid 2px #f00;
}

fieldset input:last-child {
  padding: 0.5em;
  margin: 0.5em;
  color: white;
  text-transform: uppercase;
}

input {
  padding: 0.7em;
  margin: 0.5em;
  width: 20em;
}

input:valid {
  border: .2em solid green;
}

input:invalid {
  border: 0.2em solid red;
}

button {
  color: grey;
  padding: 0.2em;
  margin-left: 0.2em;
  font-family: "dfds-bold"
}

.login {
  background-color: #f6861f;
  color: white;
  margin-top: 0.2em;
  width: 6em;
}

#zoekknop {
  color: white;
  background: #1b5786;
  width: 5em;
  height: 2em;
}

.login:active, input[type=submit]:active {
  color: #1b5786;
  transform: scale(.8, .8);
}

}

/*
=====================
Animatie
======================
*/

.bookmarkone-active {
  animation-name: test;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes test {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shake {
  animation-name: shake;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.heartbeat {
  animation: heartbeat 1s forwards;
}

@keyframes heartbeat {
  0% {
    transform: scale( 1);
  }
  10% {
    transform: scale( 0);
  }
  20% {
    transform: scale( 1);
  }
  30% {
    transform: scale( 1.25);
  }
  40% {
    transform: scale( 1);
  }
  100% {
    transform: scale( 1);
  }
}

.heartbeat-reverse {
  animation: heartbeat-reverse 1s forwards;
}

@keyframes heartbeat-reverse {
  0% {
    transform: scale( 1);
  }
  10% {
    transform: scale( 0);
  }
  20% {
    transform: scale( 1);
  }
  30% {
    transform: scale( 1.25);
  }
  40% {
    transform: scale( 1);
  }
  100% {
    transform: scale( 1);
  }
}
